@model LoginModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-black">
    <div class="row">
        <div class="col-md-6 p-4" style="background-color:white;">
            <form asp-action="Index" asp-controller="Home" method="post">
                    <h2 class="text-center">Giriş Yap!</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input asp-for="Email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Adresinizi Giriniz">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Parola</label>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Parola">
                </div>
                <div class="form-check mt-2">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-black " for="exampleCheck1">Beni Hatırla</label>
                </div>
                <button type="submit" class="btn btn-primary mt-5">Gönder</button>
            </form>

        </div>
    </div>
</div>
